@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.main-chat-div {
  height: 100dvh;
}

.cancel_preview {
  top: -12px;
}

.chat-section {
  min-height: 75% !important;
}

.chat-history {
  height: 85% !important;
}

.skeleton-loading {
  border-radius: 4px;
}

.card-effect {
  background: rgba(201, 188, 188, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.7px);
  -webkit-backdrop-filter: blur(14.7px);
}

.accordion-trigger {
  text-decoration: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #595bcc, #f1f1f1);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}



@media (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .menu-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  .toaster-mobile {
    top: 500px;
  }
}

@media (min-width: 769px) {
  .navbar .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .chat-history {
    height: 65% !important;
  }
}


@media (max-width: 768px) {
  .side-sheet {
    width: 250px;
  }
}

@media (max-width: 768px) {
  #faq-section {
    height: 700px !important;
  }
}

@media (max-width: 641px) {
  .image-animation {
    width: 280px;
  }
}


@media (max-width: 641px) {
  .title-tagline {
    margin-top: -50px;
  }

  .image-animation {
    margin-top: -20px;
  }
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slowUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}